.body {
  background-color: #151f2b;
}

.logoTweeter {
  rotate: 180deg;
}

.main {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: repeat(12, 1fr);
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  /* padding: 4rem 0; */
}

/* Left Infos User */

.partLeft {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 3;
  height: 100vh;
  justify-content: center;
  border: 0.5px solid rgb(255, 255, 255, 0.3);
}

.logoTweeter{
  margin-top: 10px;
}


/* Center: Tweets and search */
.partCenter {
  display: flex;
  grid-column-start: 3;
  grid-column-end: 10;
  border: 0.5px solid rgb(255, 255, 255, 0.3);
  height: 100vh;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}

.nameUsernameDate {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Hashtag {
  color: white;
}

.divCountandBtn{
  margin-right: 50px;
  display: flex;
  justify-content: right;
  align-items: center;

}

.btnTweet {
  height: 3.5vh;
  width: 8vw;
  margin: 10px;
  background-color: #3e9af0;
  color: white;
  border-radius: 15px;
}

.searchHashtag {
  width: 80%;
  height: 5%;
  background-color: #151f2b;
  color: black;
}

.divHashtagsSearch {
  display: flex;
  width: 100%;
}

.partRight {
  display: flex;
  border: 0.5px solid rgb(255, 255, 255, 0.3);
  grid-column-start: 10;
  grid-column-end: 13;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.title {
  line-height: 1.15;
  font-size: 4rem;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.divInputTweet {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 2px;
  justify-content: center;
  
}

.divTweetAndCount{
  position: absolute;
  top:5vh;
  width: 58vw;
  height: 20vh;
  font-size: 12px;
  
}

.inputTweet{
  width: 80%;
  margin: 10px;
  height: auto;
  overflow: hidden;
  border-radius: 10px;
  resize: vertical;
  background-color: #151f2b;
  font-size: 15px;
  padding-top: 15px;
  padding-left: 15px;
  color: white;
  
}

.partRight{
  display: flex;
  flex-direction: column;
}

.hashtag {
  background-color: #1d2732;
  color: white;
  padding: 5px;
  width: 85%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  font-size: large;
  font-weight: 900;
  box-shadow: 10px 10px 10px rgb(0, 0, 0);
  transition: 0.25s;
}

.hashtag:hover {
  background-color: rgb(164, 164, 255);
  color: rgb(74, 0, 43);
  cursor: pointer;
  scale: 0.95;
  box-shadow: 0px 0px 0px rgb(0, 0, 0);
}

.searchInput {
  width: 90%;
  height: 5%;
  background-color: #710000;
  color: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 5px;
  box-shadow: 10px 10px 10px rgb(0, 0, 0);
  transition: 0.25s;
}

.searchInput:hover {
  background-color: rgb(255, 255, 255, 0.3);
  color: rgb(74, 0, 43);
  cursor: pointer;
  scale: 0.95;
  box-shadow: 0px 0px 0px rgb(0, 0, 0, 0.3);
}

.searchInput:focus {
  outline: none;
  box-shadow: 0px 0px 0px rgb(0, 0, 0, 0.3);
}

.containerTweets {
  margin-top: 25px;
  width: 100%;  
  top: 30%;   
  height: 80vh;       
  overflow: auto;    
  border: 1px solid rgb(255, 255, 255, 0.3);
}
