
  .nameUsernameDate {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
  }

.Avatar {
    border-radius: 50px;
    margin: 15px;
  }
  
  .authorName {
    font-size: 12px;
    margin: 5px;
  }
  
  .username {
    font-size: 15px;
    margin: 5px;
    color: #778293;
  }
  .date {
    font-size: 9px;
    margin: 5px;
    margin-left: 17px;
    color: #778293;
    font-size: 15px;
  }
  
  .TweetText {
    font-size: 10px;
    margin-left: 15px;
    justify-self: left;
    align-self: right;
    font-size: 15px;
  }

  .divLikeCount{
    display: flex;
    align-items: center;
  }

  .btnLike{
    fill: white;
    margin: 5px;
    background-color: none;
  }
  
  .divBtnModify{
    display: flex;
    align-items: center;
  }
  
  .btnModify{
    margin: 5px;
    fill: white;
    background-color: none;
  }
  
  .btnCheck{
    margin: 5px;
    fill: white;
    background-color: none;
  }

  .btnDelete{
    margin: 5px;
    fill: white;
    background-color: none;
  }
  
  .counterLike{
    margin: 5px;
  }
  
  .soloTweet {
    border: 0.5px solid rgb(255, 255, 255, 0.3);
    color: white;
    width: 80%;
    align-self: center;
    height: 20%;
    margin: 7%;
    padding: 2%;
  }