
  .nameUsernameDate {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
  }

.Avatar {
    border-radius: 50px;
    margin: 15px;
  }
  
  .authorName {
    font-size: 20px;
    margin: 5px;
  }
  
  .username {
    font-size: 20px;
    margin: 5px;
  }
  .date {
    font-size: 20px;
    margin: 5px;
    margin-left: 40px;
  }
  
  .TweetText {
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .divLikeCount{
    margin: 10px;

    display: flex;
    align-items: center;
  }

  .btnLike{
    fill: white;
    margin-top: 2px;
    margin-left: 20px;
    background-color: none;
  }
  
  .divBtnModify{
    display: flex;
    align-items: center;

  }
  
  .btnModify{
    margin-left: 10px;
    fill: white;
    background-color: none;
  }
  
  .btnCheck{
    margin-left: 10px;
    fill: white;
    background-color: none;
  }

  .btnDelete{
    margin-left: 10px;
    fill: white;
    background-color: none;
  }
  
  .counterLike{
    margin-left: 5px;
  }
  
  .soloTweet {
    border: 0.5px solid rgb(255, 255, 255, 0.3);
    color: white;
    width: 95%;
    align-self: center;
    min-height: 25%;
    margin: 2.5%;
    box-shadow: 10px 10px 10px black;
    transition: 0.25s;
  }

  .soloTweet:hover {
    box-shadow: 0px 0px 0px black;
    transform: scale(0.95);
  }